.toolbar,
.user-options,
.panel-wrapper-select {
  display: flex;
}
#user-options,
#user-ordered,
#message-ordered,
#product-ordered {
  border: 1px solid var(--blue-light-2);
  outline: none;
  border-radius: 10px;
}
.btn-edit,
.btn-delete {
  border: 1px solid var(--grey-light);
  color: var(--font-dark-1);
  justify-content: space-between;
  box-sizing: border-box;
}
.btn-edit svg,
.btn-delete svg{
  fill: var(--font-light);
}
.btn-create-wrapper {
  position: sticky;
  bottom: 0;
  margin-bottom: 1em;
}
#panel-message input {
  width: 100%;
  border: none;
  outline: none;
}
#panel-message input[type="submit"] {
  color: var(--font-light);
  border-radius: 10px;
}
.tc-submit {
  border: none !important;
}
.tr {
  display: flex;
}
.title-tc {
  font-weight: 600;
}
.toolbar {
  flex-direction: row;
}
hr {
  margin: 0.5em 0;
  border: 1px solid var(--grey-light-2);
}
.btn-edit:active,
.btn-delete:active {
  transform: none !important;
}
.btn-edit {
  background-color: var(--blue-light-2);
}
.btn-delete {
  background-color: var(--red-alert);
}
.btn-text {
  color: var(--font-light);
}
.title-panel{
  color:var(--blue-light);
  font-weight: 600;
}
@media (max-width: 667px) {
  .panel-wrapper,
  .toolbar {
    width: 90%;
    margin: auto;
  }
  .toolbar {
    flex-direction: column;
  }
  .toolbar {
    padding-top: 1em;
    flex: 1;
  }
  .user-options {
    flex: 1;
    order: 2;
  }
  .user-options select {
    padding: 2%;
    border-radius: 0;
  }
  .user-options form {
    width: 100%;
  }
  .close-session-wrapper,
  .user-options {
    margin-bottom: 5%;
  }
  #close-session {
    width: 100%;
    padding: 2%;
    border-radius: 0;
  }
  .title-panel{
   text-align: center; 
   font-size: 1.1em;
    margin-bottom: 1em;
  }
  .theader {
    display: none;
  }
  .tr,
  .tc {
    border: 1px solid var(--grey-light);
    border-radius: 10px;
  }
  .tr {
    padding: 1em 1em 0;
    flex-direction: column;
    margin-bottom: 0.8em;
  }
  .tc {
    margin-bottom: 1em;
    font-size: 0.9em;
    padding: 0.2em 0.4em;
  }
  .tc-border {
    border: none;
  }
  .btn-alert {
    width: 60%;
    box-sizing: border-box;
  }
  .btn-text {
    margin-right: 1em;
  }
  #user-ordered,
  #message-ordered,
  #product-ordered {
    margin-left: 1em;
  }
  .panel-wrapper-header {
    margin-bottom: 1em;
  }
  .btn-create-wrapper .btn-primary {
    width: 100%;
    padding: 4%;
    border-radius: 0;
    text-align: center !important;
  }
  .tc-submit .btn-primary{
    width: 100%;
  }
}
@media (min-width: 668px) {
  .panel-wrapper,
  .toolbar {
    margin: auto;
  }
  .toolbar {
    justify-content: space-between;
  }
}
@media (max-width: 915px) {
  .btn-edit,
  .btn-delete {
    width: 100%;
    padding: 4%;
  }
}

@media (min-width: 916px) {
  .panel-wrapper{
    min-height : calc(100vh - 77.44px);
  }
  .toolbar,
  .panel-wrapper {
    width: 95%;
  }
  #close-session {
    margin-right: 2.6em;
    padding: 0.5em;
  }
  .panel-wrapper {
    margin-top: 1em;
  }
  .panel-wrapper-select {
    margin-top: 0.5em;
  }
  .panel-wrapper-select p {
    margin-right: 1em;
  }
  .table {
    margin-top: 1em;
  }
  .th,
  .tc {
    flex: 1;
    margin: 0 1px;
  }
  .tc {
    padding: 0.5em;
  }
  .btn-eliminar,
  .btn-editar {
    padding: 0.5em;
  }
  #panel-message input[type="submit"] {
    width: 5em !important;
    height: 2em;
  }
  #create-product,
  #create-user-admin {
    padding: 0.5em;
    margin-top: 1em;
  }
   .theader,
  .tr,
  .th,
  .tc {
    display: flex;
  }
  .theader,
  .tr {
    justify-content: space-evenly;
  }
  .tr {
    border-top: 1px solid var(--grey-light-2);
    background-color: var(--grey-light-2);
  }
  .tc {
    background-color: var(--font-light);
  }
  .th,
  .tc {
    justify-content: center;
    align-items: center;
  }
  .th {
    background-color: var(--blue-light-3);
  }
  .title-tc {
    display: none;
  }
  .tc-border {
    border: none;
  }
  .hide-md {
    display: none;
  }
  .btn-text {
    display: none;
  }
  .table {
    border: 1px solid var(--blue-light-3);
  }
  .btn-edit,
  .btn-delete{
    padding: 3%;
  }
}
