.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  display: none;
}
.news {
  background: white;
  width: 50%;
  margin: 10% 5%;
  border-radius: 20px;
  padding: 3%;
  box-sizing: border-box;
  float: right;
}
footer {
  overflow-y: hidden;
}
footer,
footer a {
  background-color: var(--blue-dark);
  color: var(--grey-light-3);
}
#btn-subscribe {
  color: var(--font-light);
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background-color: #493e75;
}
#btn-subscribe:hover{
  background-color: #5e5290;
}
#btn-subscribe:active{
  background-color: #493e75;
}
.copyright-wrapper {
  text-align: center;
}
.social-media-container,
.social-media-container li {
  display: flex;
  box-sizing: border-box;
}
.social-media-container li a > svg{
  transition: all 0.2s ease-in-out;
}
.social-media-container li a > svg{
  fill: #3ca4ff;;
}
.social-media-container li a > svg:hover{
  fill: #b4d9fa;;
}

@media (max-width: 667px) {
  footer {
    flex-direction: column;
    padding: 3%;
  }
  .contact-footer-title,
  .contact-footer-wrapper {
    margin-top: 2%;
  }
  .contact-footer-title {
    font-size: 1.5em;
    margin-bottom: 2%;
  }
  .contact-footer-wrapper {
    order: 2;
  }
  .menu-nav-footer,
  .redes-wrapper {
    border-top: 0.5px solid var(--grey-light-3);
  }
  .contact-footer-wrapper,
  .menu-nav-footer {
    text-align: right;
  }
  .menu-nav-footer {
    order: 3;
    margin-top: 1%;
    padding-top: 2%;
  }
  .menu-nav-footer ul li {
    margin-bottom: 4%;
  }
  .redes-wrapper {
    order: 4;
  }
  .copyright-wrapper {
    order: 5;
    margin-top: 2%;
    font-size: 0.5em;
    border-top: 0.5px solid var(--grey-light-3);
    padding-top: 3%;
  }
  .contact-footer-wrapper,
  .menu-nav-footer,
  .subscribe-wrapper {
    font-size: 0.8em;
  }
  .company-ubication-link,
  .company-phone,
  .company-email,
  .contact-form-link {
    margin-bottom: 5%;
  }
  .company-ubication-link div:nth-child(1),
  .company-phone div:nth-child(1),
  .company-email div:nth-child(1),
  .contact-form-link a {
    font-weight: 600;
    margin-bottom: 1%;
  }
  .social-media-container li a {
    font-size: 2em;
  }
  .subscribe-wrapper {
    order: 1;
    border-bottom: 1px solid var(--grey-light-3);
    padding: 3% 0 3%;
    position: relative;
  }
}
@media (min-width: 668px) and (max-width: 915px) {
  footer {
    flex-direction: column;
    padding: 3%;
  }
  .contact-footer-wrapper {
    margin-top: 2%;
  }
  .contact-footer-wrapper,
  .menu-nav-footer ul {
    display: flex;
    flex-direction: row;
  }
  .contact-footer-wrapper {
    order: 2;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact-footer-title {
    font-size: 1.5em;
    margin-bottom: 2%;
    width: 100%;
  }
  .menu-nav-footer,
  .redes-wrapper {
    border-top: 0.5px solid var(--grey-light-3);
  }
  .menu-nav-footer {
    order: 3;
    text-align: right;
    margin: 5% 0;
  }
  .menu-nav-footer ul {
    justify-content: space-evenly;
    margin: 2% 0;
  }
  .redes-wrapper {
    order: 4;
    margin-top: 5%;
  }
  .copyright-wrapper {
    order: 5;
    margin-top: 5%;
    font-size: 0.5em;
    padding-top: 3%;
  }
  .contact-footer-wrapper,
  .menu-nav-footer,
  .subscribe-wrapper {
    font-size: 0.8em;
  }
  .company-ubication-link,
  .company-phone,
  .company-email,
  .contact-form-link {
    margin-bottom: 4%;
    width: 45%;
  }
  .company-phone,
  .contact-form-link {
    text-align: right;
  }
  .company-ubication-link div:nth-child(1),
  .company-phone div:nth-child(1),
  .company-email div:nth-child(1),
  .contact-form-link a {
    font-weight: 600;
    margin-bottom: 2%;
  }
  .social-media-container li a {
    font-size: 2em;
  }
  .subscribe-wrapper {
    order: 1;
    border-bottom: 1px solid var(--grey-light-3);
    padding: 3% 0 3%;
    position: relative;
  }
}
@media (max-width: 915px) {
  #btn-subscribe {
    padding: 2%;
    font-size: 1.2em;
  }
  #btn-subscribe span {
    padding-right: 0.5em;
  }
  #btn-subscribe:active {
    transform: scale(0.9);
  }
  .social-media-container {
    justify-content: space-evenly;
  }
}
@media (min-width: 916px) {
  .social-media-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 916px) and (max-width: 1440px) {
  footer {
    flex-direction: row;
    padding: 3% 5.6%;
    flex-wrap: wrap;
  }
  .subscribe-wrapper {
    order: 1;
    width: 100%;
    margin-bottom: 5%;
  }
  #btn-subscribe {
    padding: 1%;
    font-size: 1em;
  }
  #btn-subscribe span {
    margin-right: 1em;
  }
  .contact-footer-wrapper,
  .menu-nav-footer ul {
    display: flex;
    flex-direction: row;
  }
  .contact-footer-wrapper {
    order: 2;
    flex: 10;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .redes-wrapper {
    order: 3;
    flex: 1;
  }
  .menu-nav-footer {
    order: 4;
    display: flex;
    justify-content: center;
    margin-top: 6%;
    font-size: 0.8em;
  }
  .copyright-wrapper {
    order: 5;
    margin-top: 3%;
    font-size: 0.6em;
  }
  .menu-nav-footer,
  .copyright-wrapper {
    width: 100%;
  }
  .contact-footer-title {
    font-size: 1.3em;
    width: 100%;
    border-bottom: 0.5px solid var(--grey-light-3);
    padding-bottom: 1%;
  }
  .company-ubication-link,
  .company-phone,
  .company-email,
  .contact-form-link {
    font-size: 0.8em;
    width: 24%;
    margin-top: 2%;
  }
  .company-ubication-link,
  .company-phone,
  .company-email {
    border-right: 0.4px solid var(--grey-light-3);
  }
  .company-ubication-link div:nth-child(1),
  .company-phone div:nth-child(1),
  .company-email div:nth-child(1),
  .contact-form-link a {
    font-weight: bold;
    margin-bottom: 2%;
  }
  .company-phone span {
    display: block;
  }
  .company-phone div {
    margin-bottom: 3%;
  }
  .company-phone div span:nth-child(2) {
    padding: 1% 0 0 2%;
  }
  .menu-nav-footer ul {
    justify-content: space-evenly;
    margin: 2% 0;
    width: 50%;
  }
  .social-media-container {
    margin-top: 26%;
  }
  .social-media-container li a svg {
    width: 32px;
    height: 32px;
  }
  .social-media-container li {
    margin-bottom: 1em;
  }
}
@media (min-width: 1441px) {
}
