.slideshow-container,
.service-description-wrapper{
  position: relative;
}
.slide{
  position: absolute;
  top:0;
  left: 0;
  background-color: white;
}
.slideshow-controllers {
  position: relative;
  display: flex;
  justify-content: center;
}
.control-slide {
  width: 10px;
  height: 10px;
  background-color: var(--gray-light);
  margin-right: 1em;
  border-radius: 100px;
}
.control-active {
  background-color: var(--blue-light-2);
}
.button-slideshow-link {
  background-color: var(--blue-light) !important;
  border-radius: 10px;
  width: auto;
}
.button-slideshow-link a {
  color: var(--font-light);
  height: 100%;
  width: 100%;
  display: block;
}
.text-slideshow {
  color: var(--font-light);
}
.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.img-container {
  width: 100%;
  height: 100%;
}
.service-description-wrapper{
  width: 100%;
}
.service-description{
  color:var(--blue-light-2);
  font-weight: 600;
}
@media (max-width: 667px) {
  .slideshow-container {
    height: 30vh
  }
  .texts-container {
    top: 2em;
    bottom: 0;
    width: 50%;
    padding: 1em;
  }
  .text-slideshow {
    font-size: 0.8em;
  }
  .button-slideshow-link {
    padding: 5px;
  }
  .title-product-container {
    background-color: var(--gray-light);
    padding: 1em;
  }
  .slideshow-controllers {
    margin: 0.5em 0;
  }
  .texts-container {
    position: absolute;
  }
}
@media (min-width: 668px) and (max-width: 915px) {
  .slideshow-container {
    width: 92%;
    margin: auto;
    height: 100vh;
  }
  .texts-container {
    top: 7em;
    bottom: 0;
    width: 50%;
    padding: 1em;
  }
  .text-slideshow,
  .button-slideshow-link {
    font-size: 1em;
  }
  .button-slideshow-link {
    padding: 0.8em;
    margin-top: 2em;
  }
  .texts-container {
    position: absolute;
  }
}
@media (min-width: 916px) and (max-width: 1440px) {
  .slideshow-container {
    width: 95%;
    margin:5em auto 0;
    box-sizing: border-box;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 70vh;
  }
  .slide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .img-container {
    width: 55%;
    order:2;
  }
  .texts-container {
    width: 40%;
    order:1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
  }
  .text-slideshow,
  .button-slideshow-link{
    margin-left: 30%;
  }
  .text-slideshow{
    width: 70%;
    font-size: 1.2em;
    color:var(--blue-light);
    box-sizing: border-box;
  }
  .button-slideshow-link{
    font-size: 1.1em;
    padding: .5em;
    margin-top: 1em;
    align-self: flex-start;
  }
  .service-description-wrapper{
    padding: 4% 0;
    border-top: 1px solid var(--grey-light-3);
  }
  .service-wrapper{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .service-img-wrapper{
    width: 25%;
  }
  .service-description{
    width: 70%;
    font-size: 1.7em;
    display: flex;
    align-items: center;
  }
}
