@font-face {
  font-family: Stoke;
  src: url("../fonts/Stoke-Regular.ttf") format("truetype");
}
:root {
  --blue-light: rgb(3, 131, 240);
  --blue-light-2: rgb(120 187 245);
  --blue-light-3: rgb(224, 235, 244);
  --grey-light: rgb(202, 202, 202);
  --grey-light-2: rgb(229, 229, 229);
  --grey-light-3: rgb(168, 168, 168);
  --grey-light-4: rgb(217, 217, 217);
  --grey-light-5: rgb(241 241 241);
  --blue-dark: rgb(0, 38, 71);
  --blue-dark-2: rgb(0, 25, 46);
  --font-light: white;
  --red-alert: rgb(255, 90, 90);
  --red-light: rgb(192, 0, 0);
  --font-dark-1: rgb(64, 64, 64);
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body,
.container,
.main-container {
  position: relative;
}
body {
  font-family: "Stoke", serif;
}
img {
  width: 100%;
  height: auto;
}
footer,
form {
  display: flex;
}
form {
  flex-direction: column;
}
input,
textarea{
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
}
a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;
}
.body-title {
  color: var(--blue-light);
  border-left-color: var(--blue-light);
  border-left-style: solid;
  box-sizing: border-box;
  width: 100%;
  margin-top: 2%;
  padding-left: 1%;
}
.bell {
  background-image: url("../img/bell-fill.svg");
  background-repeat: no-repeat;
  width: 1.2em;
  height: 1.2em;
  display: block;
}
.btn {
  border: none;
  outline: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.btn:active {
  border: none;
  outline: none;
}
.btn-primary,
.btn-alert{
  color: var(--font-light);
}
.btn-primary {
  background-color: var(--blue-light) !important;
}
.btn-alert {
  background-color: var(--red-alert) !important;
  justify-content: center;
}
.btn:active {
  transform: scale(0.95);
}
.hide {
  display: none !important;
}
.opacity-0 {
  opacity: 0 !important;
}
.text-right {
  text-align: right;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 7px var(--blue-light-2);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 667px) {
  .body-title {
    font-size: 0.6em;
    border: none;
    text-align: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 668px) and (max-width: 915px) {
  .body-title {
    font-size: 0.8em;
    padding-left: 1em;
    border-left-width: 5px;
  }
}
@media (max-width: 915px) {
  .main-container {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 916px) {
  .body-title {
    border-width: 0.6em;
  }
  .main-container {
    width: 88%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  label{
    display: block;
  }
}
