.product-container {
  display: flex;
}
.product-card {
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  box-shadow: 3px 3px 5px var(--grey-light-4);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-color: var(--font-light);
}
.descriptions-product div,
.product-card div:nth-child(3) {
  font-weight: 600;
}
.desc-value,
.desc-text {
  font-weight: 100;
}
.desc-value {
  text-indent: 1.2em;
}
.product-card:hover{
  transform: scale(1.03);
  box-shadow: 5px 5px 10px var(--grey-light-3);
}
@media (max-width: 667px) {
  .product-container {
    flex-direction: column;
  }
  .product-card {
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    font-size: 1em;
  }
  .descriptions-product,
  .product-img-wrapper {
    margin-top: 5%;
  }
  .product-img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
  }
  .product-card > div:nth-child(3){
    margin-top: 3%;
  }
}
@media (min-width: 668px) and (max-width: 915px) {
  .product-title{
    font-size: 1.3em;
  }
  .product-container {
    flex-direction: column;
    margin-top: 3%;
  }
  .product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: auto auto 5%;
    padding: 3%;
  }
  .product-title,
  .product-card > div:nth-child(2) {
    width: 100%;
  }
  .product-card > div:nth-child(2) {
    display: flex;
    margin: 2% 0;
  }
  .descriptions-product {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
    justify-content: space-around;
  }
  .product-img-wrapper {
    width: 50%;
  }
}
@media (min-width: 916px) {
  .product-container {
    margin-bottom: 2%;
    justify-content: flex-start!important;
  }
  .product-title {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2%;
    border-bottom: 1px solid var(--grey-light-4);
    padding-bottom: 1%;
  }
  .product-card > div:nth-child(2) {
    display: flex;
  }
  .product-card > div:nth-child(2) {
    width: 100%;
    justify-content: space-between;
  }
  .product-container,
  .product-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-card {
    width: 28%;
    margin-right: 5%;
    margin-top: 3%;
    padding: 2%;
  }
  .product-img-wrapper {
    order: 2;
    width: 55%;
  }
  .descriptions-product {
    order: 1;
    width: 25%;
    font-size: 0.9em;
  }
  .product-card div:nth-child(3) p {
    margin-top: 2%;
  }
  .descriptions-product div {
    margin-bottom: 2%;
  }
  .desc-value {
    padding: 2% 0;
  }
}
