footer,
.newsletter-form-wrapper form {
  display: flex;
}
footer {
  flex-wrap: wrap;
  overflow-y: hidden;
}
footer,
footer a {
  background-color: var(--blue-dark);
  color: var(--grey-light-3);
}
#btn-subscribe {
  color: var(--font-light);
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.contact-footer-wrapper {
  text-align: right;
}
.copyright-wrapper {
  text-align: center;
}
#newsletter-wrapper,
.newsletter-body {
  border-radius: 10px 10px 0 0;
}
#newsletter-wrapper {
  border: 1px solid var(--red-light);
}
#newsletter-wrapper,
.newsletter-form-wrapper {
  background-color: var(--blue-dark-2);
}
.newsletter-body {
  background-color: var(--grey-light-4);
  border: 1px solid var(--grey-light-4);
}
.newsletter-text-wrapper {
  background-color: var(--font-light);
  color: var(--font-dark-1);
  text-align: center;
  width: 85%;
}
.newsletter-text-wrapper,
.newsletter-form-wrapper input[type="submit"],
.newsletter-form-wrapper input[type="email"] {
  border-radius: 10px;
}
.newsletter-form-wrapper input[type="email"],
.newsletter-form-wrapper input[type="submit"] {
  border: none;
  outline: none;
}
.newsletter-form-wrapper input[type="email"] {
  width: 100%;
}
.newsletter-form-wrapper form {
  align-items: center;
  flex-direction: column;
}
.social-media-container {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 667px) {
  footer {
    flex-direction: column;
  }
  footer,
  #newsletter-wrapper {
    padding: 1em;
  }
  .subscribe-wrapper {
    order: 1;
    border-bottom: 1px solid var(--grey-light-3);
    padding-bottom: 0.5em;
    position: relative;
  }
  .contact-footer-title .contact-footer-wrapper {
    margin-top: 0.5em;
  }
  .contact-footer-wrapper {
    order: 2;
  }
  .menu-nav-footer {
    order: 3;
    margin-top: 2em;
  }
  .redes-wrapper {
    order: 4;
  }
  .copyright-wrapper {
    order: 5;
  }
  .menu-nav-footer {
    text-align: right;
  }
  .contact-footer-wrapper,
  .menu-nav-footer,
  .subscribe-wrapper,
  .newsletter-text-wrapper {
    font-size: 0.8em;
  }
  .contact-footer-title {
    font-size: 1.5em;
  }
  .company-ubication-link,
  .company-phone,
  .company-email,
  .contact-form-link,
  .menu-nav-footer ul li {
    margin-bottom: 1em;
  }
  .social-media-container li a {
    font-size: 2em;
  }
  #btn-subscribe span {
    padding-right: 0.5em;
  }
  #btn-subscribe:active {
    transform: scale(0.9);
  }
  .copyright-wrapper {
    font-size: 0.5em;
  }
  #newsletter-wrapper {
    width: 85%;
    margin: 1em auto;
  }
  .newsletter-body {
    padding-top: 5%;
  }
  .newsletter-text-wrapper {
    padding: 0.5em;
    margin: auto auto 2em;
  }
  .newsletter-form-wrapper {
    padding: 2em;
  }

  .newsletter-form-wrapper input[type="email"] {
    padding: 2%;
  }
  .newsletter-form-wrapper input[type="submit"] {
    margin-top: 5%;
    padding: 1%;
    width: 30%;
  }
}
@media (min-width: 668px) and (max-width: 915px) {
  footer {
    flex-direction: row;
    padding: 2em;
  }
  #newsletter-wrapper {
    width: 50%;
    padding: 1em;
    margin: 1em 0;
  }
  #btn-subscribe {
    font-size: 1.2em;
  }
  #btn-subscribe span {
    padding-right: 0.7em;
  }
  .newsletter-text-wrapper,
  .newsletter-form-wrapper {
    padding: 0.8em;
  }
  .newsletter-text-wrapper {
    width: 87%;
    margin: 1em auto 1em auto;
    font-size: 0.8em;
    padding: 0.8em;
  }
  .newsletter-form-wrapper input[type="email"] {
    padding: 0.5em 0.5em 0.5em 1em;
    box-sizing: border-box;
  }
  .newsletter-form-wrapper input[type="submit"] {
    padding: 0.5em;
  }
  .newsletter-form-wrapper input[type="email"],
  .newsletter-form-wrapper input[type="submit"] {
    margin-top: 1em;
  }
  .subscribe-wrapper {
    order: 1;
    border-bottom: 1px solid var(--grey-light-3);
  }
  .menu-nav-footer {
    order: 2;
  }
  .contact-footer-wrapper {
    order: 3;
  }
  .redes-wrapper {
    order: 4;
  }
  .copyright-wrapper {
    order: 5;
  }
  .contact-footer-wrapper,
  .menu-nav-footer {
    flex: 1;
  }
  .subscribe-wrapper,
  .redes-wrapper,
  .copyright-wrapper {
    width: 100%;
  }
  .contact-footer-title {
    font-size: 1.4em;
  }
  .contact-footer-wrapper,
  .menu-nav-footer,
  .subscribe-wrapper,
  .newsletter-text-wrapper {
    font-size: 0.9em;
  }
  .company-ubication-link,
  .company-phone,
  .company-email,
  .contact-form-link,
  .menu-nav-footer ul li {
    margin-bottom: 1em;
  }
  .redes-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .social-media-container {
    width: 20%;
    justify-content: space-between;
  }
  .copyright-wrapper {
    font-size: 0.7em;
  }
}
@media (min-width: 916px) and (max-width: 1440px) {
  footer,
  .menu-nav-footer ul {
    flex-direction: row;
  }
  footer {
    padding: 2.1em 2.1em 1em;
  }
  .contact-footer-wrapper,
  .menu-nav-footer ul,
  .redes-wrapper{
    display: flex;
  }
  .menu-nav-footer ul,
  .redes-wrapper {
    justify-content: space-between;
    padding: 0.5em 0;
  }
  .subscribe-wrapper {
    order: 1;
    border-bottom: 1px solid var(--grey-light-3);
  }
  .menu-nav-footer {
    order: 3;
    border-top: 1px solid var(--grey-light-3);
    border-bottom: 1px solid var(--grey-light-3);
    margin-top: 0.5em;
  }
  .contact-footer-wrapper {
    order: 2;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1em;
    font-size: 0.9em;
  }
  .contact-footer-title{
    font-size: 1.5em!important;
  }
  .redes-wrapper {
    order: 4;
    justify-content: flex-end;
    margin-top: 0.5em;
  }
  .social-media-container {
    width: 10%;
    justify-content: space-between;
  }
  .copyright-wrapper {
    order: 5;
  }
  .menu-nav-footer,
  .redes-wrapper,
  .copyright-wrapper {
    width: 100%;
  }
  .subscribe-wrapper,
  .contact-footer-wrapper {
    flex: 1;
  }
  .subscribe-wrapper {
    border: none;
  }
  #newsletter-wrapper {
    width: 50%;
    padding: 1em;
    margin: 1em 0;
  }
  #btn-subscribe {
    font-size: 1em;
  }
  #btn-subscribe span {
    padding-right: 0.7em;
  }
  .newsletter-text-wrapper {
    padding: 0.6em;
  }
  .newsletter-form-wrapper {
    padding: 0.5em 1em;
  }
  .newsletter-text-wrapper {
    width: 80%;
    margin: 1em auto 1em auto;
    font-size: 0.8em;
    padding: 0.6em;
  }
  .newsletter-form-wrapper input[type="email"] {
    padding: 0.3em 0.3em 0.3em 1em;
    box-sizing: border-box;
  }
  .newsletter-form-wrapper input[type="submit"] {
    padding: 0.5em;
  }
  .newsletter-form-wrapper input[type="email"],
  .newsletter-form-wrapper input[type="submit"] {
    margin-top: 0.7em;
  }
  .copyright-wrapper{
    font-size: 0.6em;
  }
}
@media (min-width: 1441px){
  
}